body {
   background: url(https://images.unsplash.com/photo-1477233534935-f5e6fe7c1159?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a560d668d4e1af8675f367dc344a08c&auto=format&fit=crop&w=1050&q=80) no-repeat center fixed;
   background-size: cover;
   /* background-color: black; */
   color: aliceblue;
}

#controls {
   background-color: rgba(100, 100, 100, .8);
}

h1 {
   text-align: center;
}

.main-content {
   padding: .6rem;
   margin: 0 auto;
   height: 80vh;
   width: 95vw;
   flex-direction: column;
   background-color: #3D3D3D;
   border-radius: 1rem;
}

.beat-pad {
   /* border: .05rem solid rgb(94, 92, 92); */
   margin: .2rem;
   padding: 0;
   flex: 1;
   border-radius: 12px;
}

.beat-pad:hover {
   opacity: .9;
}

.beat-pad:active {
   transform: scale(.97);
}

.beat-1 {
   background-color: #727272;
}

.beat-2 {
   background-color: #4F4F4F;
}
.beat-3 {
   background-color: rgba(210, 210, 190, 0.5);
}
.beat-4 {
   background-color: rgba(190, 190, 210, 0.5);
}

.instrument-row {
   margin: .3rem;
   padding: .1rem;
   border-radius: .6rem;
   flex-direction: row;
   flex-grow: 1;
   background-color: black;
   align-content: center;
}

.instrument {
   display: flex;
   flex-wrap: warp;
   align-items: space-around;
   justify-content: center;
   flex: 2;
}

.instrument-btn {
   background-color: #3f3f3f;
   margin-top: .4rem;
   border: none;
   border-radius: .6rem;
   font-size: 1rem;
   color: white;
   outline: none;
   height: 80%;
   width: 90%;
   display: block;
}

.instrument-btn:hover {
   opacity: .9;
}

.instrument-btn:active {
   transform: scale(0.98);
}

#controller {
   flex-grow: 2;
}

.active {
   background-color: #DABC66;
}

.flex-grid {
   display: flex;
}
