body {
   margin: 0;
   padding: 0;
   margin-top: 2rem;
   background: url(https://images.unsplash.com/photo-1477233534935-f5e6fe7c1159?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a560d668d4e1af8675f367dc344a08c&auto=format&fit=crop&w=1050&q=80) no-repeat center fixed;
   background-size: cover;
   /* background-color: black; */
   color: aliceblue;
}

#controls {
   padding: .5rem;
   background-color:#3f3f3f;
   border-radius: .6rem;
   flex: 3;
}

#play-btn {
   height: 50%;
   width: 10%;
   background-color: #BBA87F;
}

#tempo {
   display: inline-block;
   /* text-align: center;
   height: 1.5rem; */
   font-size: 1rem;
   width: 3rem;
   border: 1px solid black;
}

.change-tempo, .btn, #play-btn:hover {
   cursor: pointer;
}

.main-content {
   padding: .6rem;
   margin: 0 auto;
   height: 85vh;
   width: 85vw;
   flex-direction: column;
   background-color: #303030;
   border-radius: 1rem;
}

.beat-pad {
   margin: .2rem;
   padding: 0;
   flex: 1;
}



.beat-pad:active {
   transform: scale(.97);
}

.beat-1 {
   background-color: #727272;
}

.beat-2 {
   background-color: #4F4F4F;
}
.beat-3 {
   background-color: rgba(210, 210, 190, 0.5);
}
.beat-4 {
   background-color: rgba(190, 190, 210, 0.5);
}

.instrument-row {
   margin: .3rem;
   padding: .1rem;
   border-radius: .6rem;
   flex-direction: row;
   flex-grow: 1;
   background-color: black;
   align-content: center;
}

.instrument {
   display: flex;
   flex-wrap: warp;
   align-items: center;
   justify-content: center;
   flex: 2;
}

.instrument-btn {
   background-color: #2f2f2f;
   font-size: 1rem;
   color: white;
   height: 90%;
   width: 90%;
}

.btn:hover {
   opacity: .9;
}

.btn:active {
   transform: scale(0.98);
}

#controller {
   flex-grow: 2;
}

.active {
   background-color: #DABC66;
}

.flex-grid {
   display: flex;
}

.btn {
   border: none;
   outline: none;
   border-radius: .4rem;
}

.play {
   background-color: red;
}
